@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
*{
    box-sizing: border-box;
}
body{
	background-image: url(fondo.png);
	background-repeat: no-repeat;
	background-size: cover;
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    background-color: #EAF5F1;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 10px;
}

.contenedor__botones{
    margin-top: 3px;
    margin-left: 40%;
    margin-right: 40%;
}

/*---------------------------Estilos del contenido---------------------------*/
.logo{
    align-self: center;
    width: 250px;
    border-radius: 1000px;
}

.btn{
    background-color: #E5AFFF;
    margin-top: 20px;
    width: 100%;
    height: 37px;
    border: 0px;
    box-shadow: 2px 2px 3px #CDADE7;
    font-weight: bold;
    font-size: 17px;
    color: darkviolet;
    text-shadow: 1px 0px 2px black;
}

/*---------------------------Estilos del banner---------------------------*/
.banner{
    width: 100%;
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 15px;
}
.banner .contenedor{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #FFF;
    text-align: center;
}
.banner__titulo{
    margin-bottom: -5px;
    font-size: 50px;
    text-shadow: 2px 2px 3px black;
    color: #E8DCF2;
}
.banner__img{
    margin: auto;
    height: 720px;
    width: 100%;
}
.banner__txt{
    color: #CDADE7;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 6px;
    text-shadow: 2px 2px 3px black;
}

/*---------------------------Estilos de footer---------------------------*/
.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}



